@font-face{
  font-family: Poppins-Medium;
  src: url("./albbhpt/Poppins-Medium.ttf");
}
@font-face{
  font-family: Poppins-Bold;
  src: url("./albbhpt/Poppins-Bold.ttf");
}
@font-face{
  font-family: Poppins-Regular;
  src: url("./albbhpt/Poppins-Regular.ttf");
}
@font-face{
  font-family: Poppins-Thin;
  src: url("./albbhpt/Poppins-Thin.ttf");
}
@font-face{
  font-family: Poppins-Light;
  src: url("./albbhpt/Poppins-Light.ttf");
}